.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  border-radius: 10px;
  color: #000;
}

.option {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

button {
  color: white;
  line-height: 16px;
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 50px;
  width: 50%;
  font-weight: bold;
  background-color: #d22;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(181, 28, 28);
}

.password {
  background-color: #d22;
  color: white;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  word-break: break-all;
  border-radius: 5px;
}

.password h3 {
  margin: 0 10px;
}

.icon {
  margin-right: 15px;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.1);
}

input {
  cursor: pointer;
}

input[type="number"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 3.2em;
  height: 1.5em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #d22;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
